* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(184, 19, 101);
    font-family: 'Staatliches', cursive;;
    text-align: center;
    background-color: rgba(224, 186, 215,0.3);
    
}

#logo {
    width: 360px;
    text-align: center;
    
}

#game-container {
    border: 8px solid rgb(184, 19, 101);
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 600px;
    border-radius: 5%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

#instruction-box {
    font-family: 'Kalam', cursive;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 300px;
    background-color: rgba(172, 32, 142, 0.6);
    border-radius: 23px 0px 0px 23px;

}

/**Instruction section headings**/
h4 {
    font-size: 175%;
    text-shadow: 0 2px black;
    margin-top: 1rem;
}

.features {
    list-style: none;
}

/**Puzzle Game**/
#game-box {
    width: 360px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
}

#game-box img {
    width: 118px;
    height: 118px;
    border: 3px solid rgb(184, 19, 101);
}

#count {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    right: 195px;
    font-size: 2.5em;
    text-shadow: 2px 0 rgb(0, 0, 0);
    
}

#timer {
    position: absolute;
    bottom: 80px;
    right: 350px;
    font-size: 1.5rem;
}

/** Audio toggle styles**/
#bg-music {
    position: absolute;
    top: 10px;
    right: 85px;
}

#play-music {
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

