* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(184, 19, 101);
    font-family: 'Staatliches', cursive;;
    text-align: center;
    
}


#logo {
    width: 240px;
    text-align: center;
    
}